<div class="main outline match-parent-size">
  <div class="info-card">
    <img class="profile-picture" [src]="userData?.avatar"/>
    <input class="title" type="text" [(ngModel)]="channel">
    <input class="title" type="text" [(ngModel)]="date">
    <input class="search-button" (click)="getNewChannelData()" [innerText]="channel" type="button">
    <input type="checkbox" (click)="reloadDataSet()" #showTime>
    <label>Hide timestamp</label>
    <input type="checkbox" [checked]="isAudioEnabled" (change)="isAudioEnabled = !isAudioEnabled">
    <label>Play message sound</label>
    <mat-slider class="time-slider" max="1439" step="1" discrete [displayWith]="formatSliderTimeLabel">
      <input matSliderThumb (dragEnd)="updateCurrentTime()" (keyup)="updateCurrentTime()"
        [(ngModel)]="sliderValueMinutes">
    </mat-slider>

  </div>
  <div class="chat-messages-container outline match-parent-size" #scrollMe>
    <div class="chat-line-message" *ngFor="let message of messages; index as i">
      <div class="chat-inline-content">
        <span *ngIf="!showTime.checked" class="chat-line-message-content time">{{message.time.toShortString()}} </span>
        <span class="chat-line-message-content author"
          [ngStyle]="{'color': USER_COLORS[message.author.length % USER_COLORS.length]}">{{message.author}}: </span>
        <span class="chat-line-message-content" [innerHTML]=" message.content| emotify:emoteSet "></span>
      </div>
    </div>
  </div>
</div>